@import '~bootstrap/dist/css/bootstrap.min.css';
body{
    
}

.foto{
	width: 500px;
}

.michotitulo{
     height: 150px;
    padding-left: 19px;
}

.izq{
     margin-top: 15px;
   
}

.der{
     margin-right: 30px;
   
}

.prox{
	padding-left: 300px;
    padding-right: 15px;
    padding-top: 15px;
}

.bajar{
	padding-left: 100px;
    
    padding-top: 15px;
}

.tit{
	padding-left: 100px;
    opacity: .5;
    padding-top: 15px;
}

.margenes-navbar {
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
}

.navbar{
    z-index: 1000;
    background-color: rgb(255, 255, 255);
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
}

.seccion{
    height: 300px;
    
    
}

.dibujos{
    background-color: #FFFFFF;
}

.comics{
    background-color: #fff;
    padding: 25px;
}

.libos{
    background-color: #979AF8;
}

.modal-content{
   background-color:  E1E2FF;
}

.contacto{
    margin: 25px;
}

#subir{
    
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    border: none;
    outline: none;
    background-color: black;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 250px;
    
}

.ajuste{
    height: auto;
}

.toggle{
    display: none;
}

.parallax{
    background-image: url('../img/pastel.png'); 
  
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.fondowall{
    background-image: url(img/wall.jpg);
    background-color: #FFFF00;
    }
     

.fondoletras{
    opacity: .5;
    padding: 25px;
    margin-top: 25px;
    margin-bottom: 25px;
}

.fondoletras p{
    font-family: 'Didact Gothic', sans-serif;
}

h1{
    font-family: 'Bebas Neue', cursive;
}

h2{
	font-family: 'Jost', sans-serif;
}
h3{
	font-family: 'Jost', sans-serif;	
}

h4{
	font-family: 'Permanent Marker', cursive;

	font-size: 50px;
}
.fa-bomb{
    font-size: 40px;
}

.fa-bullseye{
    font-size:  15px;
};

.card{
    margin: 50 auto;
    float: left;
    margin-bottom: 10 px;
    margin-top: 1500 px;
	background-color: black;
    
}

.blanco{
    background-color: #FFFFFF;
}



.separaciones{
    background-color:azure;
    height: 1080px;
    width: 240px;
    display: inline-block;    
}





/* MENÚ LATERAL*/

.botonmenu {
    position: absolute;
    bottom: 50px;
    position: absolute;
    top: 40px; 
    left: 40px;
    border: none;
    outline: none;
    background-color: black;
    color: white;
    cursor: pointer;
    padding: 25px;
    padding-top: 5.5px;
    padding-bottom: 30px;
    padding-left: 8px;
    padding-right: 8px;
    border-radius: 250px;
    opacity: 50%;
}

.wrapper {
    display: flex;
    align-items: stretch;
}

#sidebar {
    min-width: 250px;
    max-width: 250px;
    min-height: 100vh;
}

#sidebar.active {
    margin-left: -250px;
}


@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
    }
    #sidebar.active {
        margin-left: 0;
    }
}
#sidebar {
    /* don't forget to add all the previously mentioned styles here too */
    background: #FFF;
    color: #fff;
    transition: all 0.3s;
}

#sidebar .sidebar-header {
    padding: 20px;
    background: #FFF;
}

#sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid #fff;
    
}

#sidebar ul p {
    color: #000;
    padding: 10px;
    
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
    color: #949494;
    text-decoration: none;
    
}
#sidebar ul li a:hover {
    color: #FFF;
    background: #FFD200;
}

#sidebar ul li.active > a, a[aria-expanded="true"] {
    color: #949494;
    background: #000FFF;
}
ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #FFF;
}
#libros{}
#comics{}
#dibujos{}